.Introduction {
    background: linear-gradient(160deg, #F6BF85 20%, #51B2E8 80%);
    box-shadow: 0px 10px 25px #F6BF85, 0px 5px 10px #51B2E8;
}

* {
    color: #004AAD;
}

.nav-item.About {
    font-weight: 900;
}

.nav-item {
    color: #bd8515;
    font-weight: 500;
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    z-index: 1;

}

.nav-item:hover {
    cursor: pointer;
    color: #004AAD;
}

.Welcoming {
    color: #004AAD;
    margin-top: 25vh;
    letter-spacing: 0.3vw;
}

.Welcoming h1 {
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;

}

.Welcoming p {
    font-size: x-large;
}

.palm {
    position: absolute;
    bottom: -200px;
    width: 150%;
    right: 0;

}

.Introduction {
    overflow: hidden;
    position: relative;
}

.Education,
.Hero,
.Skills ,.Contact-Info{
    margin-top: 0px;
    background-color: #F4F8FD;
}

.Hero div h1,
.Education h1,
.Skills h1 {
    color: #004AAD !important;
}
.box{
    width: 50%;
    height: 600px;
}

.Contact-Info {
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.Contact-Container{
   height: 70%;
   
}

.contact {

    text-align: center;
    border: 8px solid #004AAD;
    width: 250px;
    height: 250px;
    border-radius: 125px;

    display: flex;
    justify-content: center;
    align-items: center;
}

